/* styles.css */

:root {
    --accent-color: #308e8b;
    --dark-accent-color: #a03838;
    --main-text-color: #323438;
    --main-bg-color: #fff;
  }
  
  body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
  }
  
  header {
    color: var(--main-bg-color);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
  }

  nav img {
    max-height: 45px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: var(--main-text-color);
    text-decoration: none;
  }
  
  main {
    padding: 1rem 6rem;
    background-color: #edebeb;
    text-align: center;
  }

  main h1 {
    color: var(--dark-accent-color);
    font-weight: 700;
    text-align: center;
  }
  
  #filters {
    margin-bottom: 2rem;
  }
  
  label {

  }
  
  select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-text-color);
  }
  
  button {
    padding: 8px 20px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }
  
  #resourceCards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .resourceCard {
    width: 21%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    background-color: #fff;
  }
  .resourceCard h3 {
    font-weight: 500;
    margin: 0;
  }
  
  .resourceCard img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .resourceCard p {
    margin: 4px 0;
    font-size: 16px;
  }

  .resourceCard div {
    text-align: center;
  }

  .resourceCard div button {
    margin-top: 15px;
    margin-bottom: 8px;
  }